.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    text-shadow: 0 5px 10px #00000080;
    transition: background-color 0.2s;
  }

  & div:hover:not(.today) {
    background-color: #4d694d;
    border: 0.2rem solid #ff6363;
    cursor: pointer;
  }

  .prev-month-day,
  .next-month-day {
    opacity: 0.5;
  }

  .today {
    background-color: #248c24;
  }
}